@use "utils/vars";
@use "utils/mixins";
@use "utils/extends";

.why {
  background: vars.$gradient;
  padding: 50px 0;

  @media screen and (min-width: 768px) {
    padding: 70px 0;
  }

  @media screen and (min-width: 1280px) {
    padding: 100px 0;
  }
}
