@use "about";
@use "contactUs";
@use "fonts";
@use "footer";
@use "header";
@use "hero";
@use "info";
@use "menu";
@use "tech";
@use "typography";
@use "why";
@use "utils/vars";
@use "utils/mixins";
@use "utils/extends";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background: vars.$gradient;
  color: vars.$text;
  font-family: Inter, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  position: relative;
}

main {
  position: relative;
  margin-top: 60px;

  @media screen and (min-width: 768px) {
    margin-top: 250px;
  }
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    color: vars.$light;
  }

  &:visited {
    color: vars.$gray;
  }
}

button {
  align-items: center;
  background: none;
  border-radius: 4px;
  border: none;
  color: vars.$text;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-weight: 500;
  justify-content: center;
  &:hover {
    color: vars.$light;
  }
}

li {
  list-style: none;
}

.container {
  margin: 0 auto;
  width: 90dvw;

  @media screen and (min-width: 768px) {
    width: 700px;
  }

  @media screen and (min-width: 1280px) {
    width: 1060px;
  }

  @media screen and (min-width: 1920px) {
    width: 1440px;
  }
}

.grid {
  column-gap: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  @media screen and (min-width: 1280px) {
    grid-template-columns: repeat(12, 1fr);
  }

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    grid-template-columns: repeat(6, 1fr);
  }
}

.arrowUp {
  align-items: center;
  border-radius: 50%;
  border: 2px solid vars.$lightBlue;
  bottom: 30px;
  display: flex;
  height: 25px;
  justify-content: center;
  opacity: 0;
  padding: 15px;
  position: fixed;
  right: 10px;
  transition: opacity 0.5s ease-in;
  width: 25px;
  z-index: 10;

  @media screen and (min-width: 768px) {
    height: 50px;
    right: 30px;
    width: 50px;
  }
}

.arrowDisplayed {
  opacity: 1;
}

.displayOptions {
  display: block;
}

.blue {
  color: vars.$lightBlue;
}

.error {
  border-bottom: 1px solid #911818;
  &::placeholder {
    color: #911818;
  }
}

.errorMessage {
  color: #911818;
}

.removeScroll {
  overflow: hidden;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover {
  border-bottom: 1px solid vars.$gray;
  -webkit-text-fill-color: vars.$lightBlue;
  -webkit-box-shadow: 0 0 0 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}
.buttonActive {
  border-bottom: 1px solid vars.$lightBlue;
}
.dotActive {
  border: 3px solid vars.$text;
}
