<section class="contactUs" id="contactUs">
  <div class="contactUs__wrapper container grid">
    <div class="contactUs__info">
      <p class="contactUs__info-subtitle" id="contactUsSubtitle"></p>
      <h2 class="contactUs__info-title">
        <span id="contactUsTitle"></span>
        <span id="contactUsTitleBlue" class="blue"></span>
      </h2>
      <p class="contactUs__info-description" id="contactUsDescription"></p>

      <ul class="contactUs__info-contacts">
        <li>
          <a href="tel:+86057186105373">+86-0571-86105373</a>
        </li>
        <li>
          <a href="mailto:global@katvr.com">global@katvr.com</a>
        </li>
        <li>
          <a href="mailto:overseas@katvr.com">overseas@katvr.com</a>
        </li>
      </ul>
    </div>
    <div class="contactUs__formWrapper">
      <form class="contactUs__form">
        <input
          class="contactUs__form-input"
          id="contactUsName"
          placeholder="Name *"
          required
          type="text"
        />
        <input
          class="contactUs__form-input"
          id="contactUsEmail"
          placeholder="Email *"
          required
          type="email"
        />
        <input
          class="contactUs__form-input"
          id="contactUsPhone"
          placeholder="Phone *"
          required
          type="number"
        />
        <textarea
          class="contactUs__form-input"
          id="contactUsMessage"
          placeholder="Message"
          required
        ></textarea>
        <p class="formMessage" id="formMessage"></p>
        <button class="contactUs__button" id="contactUsButton"></button>
      </form>
      <p class="contactUs__form-description" id="contactUsDescriptionMob"></p>
    </div>
  </div>
</section>
