<footer class="footer container">
  <a href="#main" class="footer__logo">
    <img alt="#" src="./assets/Logo.png" class="footer__logo-img" />
  </a>

  <ul class="footer__nav">
    <li>
      <a href="#about" class="footer_nav-item" id="footerAbout"></a>
    </li>
    <li>
      <a href="#tech" class="footer_nav-item" id="footerTech"></a>
    </li>
    <li>
      <a href="#why" class="footer_nav-item" id="footerBenefits"></a>
    </li>
    <li>
      <a href="#contactUs" class="footer_nav-item" id="footerContact"></a>
    </li>
  </ul>
  <div class="footer__contacts">
    <ul class="footer__contacts-list">
      <li>
        <a href="tel:+86057186105373">+86-0571-86105373</a>
      </li>
      <li>
        <a href="mailto:global@katvr.com">global@katvr.com</a>
      </li>
      <li>
        <a href="mailto:overseas@katvr.com">overseas@katvr.com</a>
      </li>
    </ul>
    <ul class="footer__social">
      <li>
        <a href="https://www.facebook.com">
          <img src="./assets/facebook.png" alt="facebook" />
        </a>
      </li>
      <li>
        <a href="https://x.com/?lang=en">
          <img src="./assets/twitter.png" alt="twitter" />
        </a>
      </li>
      <li>
        <a href="https://youtube.com">
          <img src="./assets/youtube.png" alt="youtube" />
        </a>
      </li>
      <li>
        <a href="https://youtube.com">
          <img src="./assets/monkey.png" alt="monkey" />
        </a>
      </li>
    </ul>
  </div>
</footer>
