<header class="header" id="header">
  <div class="header__wrapper container" id="a">
    <div class="header__logo">
      <a href="#" class="header__logo-img">
        <img alt="#" src="./assets/Logo.png" class="header__logo-img" />
      </a>
      <div class="header__select">
        <button class="header__lang" id="lang">
          <p id="select"></p>
          <img src="./assets/arrowDown.png" alt="arrowDown" />
        </button>
        <div class="header__list" id="list">
          <button value="en" id="en">en</button>
          <button value="ua" id="ua">ua</button>
        </div>
      </div>
    </div>
    <div class="header__right">
      <nav>
        <ul class="header__nav">
          <li>
            <a href="#about" id="navAbout" class="header__nav-link"></a>
          </li>
          <li>
            <a href="#tech" id="navTech" class="header__nav-link"></a>
          </li>
          <li>
            <a href="#why" id="navBenefits" class="header__nav-link"></a>
          </li>
          <li>
            <a href="#contactUs" id="navContact" class="header__nav-link"></a>
          </li>
        </ul>
      </nav>
      <button id="buttonByu" class="header__button"></button>
    </div>
    <button class="header__burger" id="burger">
      <img src="./assets/burger.svg" alt="burger" />
    </button>
  </div>
</header>
