<section id="hero" class="hero">
  <div class="hero__container container">
    <div class="hero__wrapper">
      <div class="hero__title">
        <h1 class="hero__title-h1">
          <span id="h1White"></span>
          <span id="h1Blue" class="hero__title-h1_blue"></span>
        </h1>
        <p id="heroDescription" class="hero__title-description"></p>
        <p class="hero__title-price">1200$</p>
        <button class="hero__title-button button__play">
          <p
            class="hero__title-button_label button__play"
            id="heroButtonPlay"
          ></p>
        </button>
      </div>
      <div class="hero__slider">
        <div class="hero__slider-content">
          <div class="hero__slider-content_wrapper" id="slider">
            <img
              alt="#"
              class="hero__image"
              id="heroImage"
              src="./assets/hero.png"
            />
            <img
              alt="#"
              class="hero__image"
              id="heroImage2"
              src="./assets/videoPreview.png"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="hero__menu">
      <ul class="hero__menu-info">
        <li>
          <a href="#why" class="hero__menu-info_item" id="heroFaq"></a>
        </li>
        <li>
          <a href="#contactUs" class="hero__menu-info_item" id="heroHelp"></a>
        </li>
      </ul>
      <a href="#about" class="hero__menu-more" id="more"></a>
      <div class="hero__menu-buttons">
        <button
          class="hero__menu-button buttonActive"
          type="button"
          id="buttonPrev"
        ></button>
        <button class="hero__menu-button" id="buttonNext"></button>
      </div>
    </div>
  </div>
</section>
