<section class="info" id="info">
  <div class="info__container container">
    <div class="info__title">
      <h2 class="info__title-h2">
        <span id="info2"></span>
        <span id="info2Blue" class="info__title-h2_blue"></span>
      </h2>
      <p class="info__title-subtitle" id="infoSubtitle"></p>
    </div>
    <div class="info__cards">
      <div class="info__cards-item">
        <img src="./assets/education.png" alt="#" class="info__cards-img" />
        <h3 class="info__cards-title" id="educationTitle"></h3>
        <p class="info__cards-text" id="educationSubtitle"></p>
      </div>
      <div class="info__cards-item">
        <img src="./assets/skyline.png" alt="#" class="info__cards-img" />
        <h3 class="info__cards-title" id="realEstateTitle"></h3>
        <p class="info__cards-text" id="realEstateSubtitle"></p>
      </div>
      <div class="info__cards-item">
        <img src="./assets/sport.png" alt="sport" class="info__cards-img" />
        <h3 class="info__cards-title" id="fitnesTitle"></h3>
        <p class="info__cards-text" id="fitnesSubtitle"></p>
      </div>
      <div class="info__cards-item">
        <img src="./assets/network.png" alt="#" class="info__cards-img" />
        <h3 class="info__cards-title" id="socialInteractionsTitle"></h3>
        <p class="info__cards-text" id="socialInteractionsSubtitle"></p>
      </div>
    </div>
  </div>
</section>
