<section class="menu" id="menuMobile">
  <button class="menu__close" id="close">
    <img src="./assets/close.png" alt="close" class="menu__close-img" />
  </button>
  <ul class="menu__nav">
    <li>
      <a href="#about" id="menuAbout" class="menu__nav-link"></a>
    </li>
    <li>
      <a class="menu__nav-link" href="#tech" id="menuTech"></a>
    </li>
    <li>
      <a href="#why" class="menu__nav-link" id="menuBenefits"></a>
    </li>
    <li>
      <a href="#contactUs" id="menuContact" class="menu__nav-link"></a>
    </li>
  </ul>
</section>
