<section class="tech" id="tech">
  <div class="tech__wrapper container grid">
    <h2 class="tech__container-h2">
      <span id="techTitle"></span>
      <span id="techTitleBlue" class="tech__container-h2 blue"></span>
    </h2>
    <div class="tech__wrapper-left">
      <div class="tech__sensor">
        <h3 id="sensorTitle" class="tech__title-h3 tech__sensor-title"></h3>
        <ul>
          <li>
            <p
              id="sensorWeight"
              class="tech__title-p tech__sensor-subtitle"
            ></p>
          </li>
          <li>
            <p
              id="sensorDimension"
              class="tech__title-p tech__sensor-subtitle"
            ></p>
          </li>
          <li>
            <p id="sensorLight" class="tech__title-p tech__sensor-subtitle"></p>
          </li>
        </ul>
        <div class="tech__sensor-img"></div>
      </div>
      <div class="tech__connection">
        <h3
          id="connectionTitle"
          class="tech__title-h3 tech__connection-title"
        ></h3>
        <ul>
          <li>
            <p id="connectionWireless" class="tech__title-p"></p>
          </li>
          <li>
            <p id="connectionReceiver" class="tech__title-p"></p>
          </li>
        </ul>
        <div class="tech__connection-img"></div>
      </div>
    </div>
    <div class="tech__wrapper-img">
      <img src="./assets/imageTech.png" alt="tech" />
      <button
        class="tech__wrapper-button1 wrapper-button"
        id="wrapperButton1"
      ></button>
      <button
        id="wrapperButton2"
        class="tech__wrapper-button2 wrapper-button"
      ></button>
      <button
        id="wrapperButton3"
        class="tech__wrapper-button3 wrapper-button"
      ></button>
      <div class="tech__wrapper-info1 wrapper-info" id="wrapper-info1">
        <h3 class="tech__wrapper-info-h3" id="sensorTitle2"></h3>
        <ul>
          <li>
            <p
              id="sensorWeight2"
              class="tech__title-p tech__sensor-subtitle"
            ></p>
          </li>
          <li>
            <p
              id="sensorDimension2"
              class="tech__title-p tech__sensor-subtitle"
            ></p>
          </li>
          <li>
            <p
              id="sensorLight2"
              class="tech__title-p tech__sensor-subtitle"
            ></p>
          </li>
        </ul>
      </div>
      <div class="tech__wrapper-info2 wrapper-info" id="wrapper-info2">
        <h3 class="tech__wrapper-info-h3" id="connectionTitle2"></h3>
        <ul>
          <li>
            <p id="connectionWireless2" class="tech__title-p"></p>
          </li>
          <li>
            <p id="connectionReceiver2" class="tech__title-p"></p>
          </li>
        </ul>
      </div>
      <div class="tech__wrapper-info3 wrapper-info" id="wrapper-info3">
        <h3 class="tech__wrapper-info-h3" id="batteriesTitle2"></h3>
        <ul>
          <li>
            <p id="batteriesType2" class="tech__title-p"></p>
          </li>
          <li>
            <p id="batteriesCapacity2" class="tech__title-p"></p>
          </li>
          <li>
            <p id="batteriesBatteryLife2" class="tech__title-p"></p>
          </li>
          <li>
            <p id="batteriesCharging2" class="tech__title-p"></p>
          </li>
        </ul>
      </div>
    </div>
    <div class="tech__batteries">
      <h3 id="batteriesTitle" class="tech__title-h3 tech__batteries-title"></h3>
      <ul>
        <li>
          <p id="batteriesType" class="tech__title-p"></p>
        </li>
        <li>
          <p id="batteriesCapacity" class="tech__title-p"></p>
        </li>
        <li>
          <p id="batteriesBatteryLife" class="tech__title-p"></p>
        </li>
        <li>
          <p id="batteriesCharging" class="tech__title-p"></p>
        </li>
      </ul>
      <div class="tech__batteries-img"></div>
    </div>
  </div>
</section>
