<section id="why" class="why">
  <div class="container">
    <div class="info__title">
      <h2 class="info__title-h2">
        <span id="whyh2"></span>
        <span id="whyh2Blue" class="info__title-h2_blue"></span>
      </h2>
    </div>
    <div class="info__cards">
      <div class="info__cards-item">
        <img src="./assets/whyImage1.png" alt="#" class="info__cards-img" />
        <h3 class="info__cards-title" id="universallyTitle"></h3>
        <p class="info__cards-text" id="universallySubtitle"></p>
      </div>
      <div class="info__cards-item">
        <img src="./assets/whyImage2.png" alt="#" class="info__cards-img" />
        <h3 class="info__cards-title" id="controlTitle"></h3>
        <p class="info__cards-text" id="controlSubtitle"></p>
      </div>
      <div class="info__cards-item">
        <img src="./assets/whyImage3.png" alt="sport" class="info__cards-img" />
        <h3 class="info__cards-title" id="virelessTitle"></h3>
        <p class="info__cards-text" id="virelessSubtitle"></p>
      </div>
    </div>
  </div>
</section>
